/* ------- Form -------- */

/* ------- Logo -------- */
.flex_logo {}

.logo {
  width: 400px;
}
/* --------------------- */

/* ------- Put the content in the middle -------- */

.flex_custom {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* ----------------------------------------------- */

.game_form {
  width: 100%;
  position: relative;
}

.input_game {
  width: 50%;
  font-size: 50px;
  border: 5px solid #121212;
  border-radius: 4px;
}

.input_game:focus {
  border: 5px solid #dc0c00;
  outline: none;
  border-radius: 3px;
}

.label_custom {
  font-size: 20px;
}

.label_error {
  color: #dc0c00;
}

.btn_start_game {
  background-color: #dc0c00;
  color: #ffffff;
  padding: 20px 50px;
  border: none;
  font-size: 30px;
  margin-top: 20px;
}

.btn_start_game:hover {
  text-decoration: none;
  color: #121212;
  text-decoration: none;
  background-color: #ff4a4a;
}

.btn_start_game:focus {
  outline: none;
  box-shadow: none;
}
.btn_disable {
  background-color: #b3b3b3;
  pointer-events: none;

}

/* ---------- Loading ----------- */

.bottle {
  animation: loading 1.4s infinite linear;
  width: 100px;
}

.title h4 {
  margin-top: 20px;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -------------------------------- */

/* --------------- Hangman ----------------- */

.game_word {
  font-size: 5rem;
}

.liver {
  width: 320px;
}

/* ----------------------------------------- */


/* --------------------- */

@media (max-width: 48rem) {

  /* ------- Form -------- */

  /* ------- Logo -------- */

  .logo {
    width: 200px;
  }

  /* --------------------- */

  .input_game {
    width: 60%;
    font-size: 30px;
  }
  /* --------------------- */

/* --------------- Hangman ----------------- */

  .game_word {
    font-size: 3rem;
  }
  .liver {
    width: 150px;
  }

/* ----------------------------------------- */


}

@media (max-width: 36rem) {
  .label_custom {
    font-size: 13px;
  }
}